* {
    margin: 0; /* remove as margens de todos os elementos para garantir que não haja espaçamento indesejado */
    padding: 0; /* remove o padding de todos os elementos para evitar espaçamento interno indesejado */
    box-sizing: border-box; /* faz com que padding e bordas sejam incluídos na largura e altura total dos elementos */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a fonte padrão para o texto da página */

}

body {
    background-color: black; /* define a cor de fundo da página como preto */
    height: 100vh; /* Define a altura do body como 100% da altura da viewport (tela) */
}

.interface {
    max-width: 1280px; /* define a largura máxima da interface para que não fique muito larga */
    margin: 0 auto; /* Centraliza a interface horizontalmente */
}

header {
    padding: 40px; /* Adiciona um padding de 40px ao redor do conteúdo do header */
}

header > .interface {
    display: flex; /* Usa flexbox para layout dos elementos filhos do header */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os itens com espaço igual entre eles */
}

header img {
    width: 200px; /* Define a largura da imagem do logo como 200px */
    height: auto; /* Ajusta a altura da imagem proporcionalmente à largura para manter a proporção */
    margin-top: -20px; /* Move a imagem para cima ajustando a margem superior */
}

header nav {
    flex: 1; /* Faz com que o elemento nav ocupe todo o espaço disponível no header */
    display: flex; /* Usa flexbox para layout dentro do nav */
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do nav */
}

header nav ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    display: flex; /* Alinha os itens da lista horizontalmente */
    padding: 0; /* Remove o padding da lista */
}

header nav ul li a {
    text-decoration: none; /* Remove a sublinha dos links */
    color: rgb(43, 43, 43); /* Define a cor do texto dos links como um cinza escuro */
    margin-right: 50px; /* Adiciona uma margem de 50px à direita dos links para espaçamento */
    list-style: none; /* Remove qualquer marcador da lista, embora já tenha sido removido por list-style-type */
    display: inline-block; /* Faz com que os links se comportem como blocos inline, permitindo padding e margens */
}

header a:hover {
    color: white; /* Muda a cor dos links para branco quando o mouse passa sobre eles */
    transform: scale(1.10); /* Aumenta o tamanho dos links em 10% quando o mouse passa sobre eles */
}

.section00 {
    background-image: url(imagem/CODIGO\ BTN.png); /* habilitamos uma imagem de fundo para a sessão*/
    padding: 250px;  /* tamanho/preenchimento da sessão*/
    background-repeat: no-repeat; /* repetição da imagem desabilitada*/
    background-size: cover; /* preenchimento toral da imagem será apresentada */
    background-position: center; /* posição em que a imagem será apresentada*/
    display: flex;  /* tornando a sessao flex e deixando os itens lado a lado */
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do nav */
    align-items: center; /* Alinha os itens verticalmente ao centro (não se aplica aqui porque não está em um container flexível) */
}



.section00 button {
    padding: 10px 40px; /* Adiciona padding de 10px em cima e embaixo e 40px nas laterais do botão */
    color: white; /* Define a cor do texto do botão como branco */
    font-size: 20px; /* Define o tamanho da fonte do botão como 20px */
    font-weight: 500; /* Define o peso da fonte do botão para 500 (semi-negrito) */
    background-color: rgb(255, 0, 0); /* Define a cor de fundo do botão como vermelho */
    border: 0; /* Remove a borda do botão */
    border-radius: 30px; /* Adiciona bordas arredondadas ao botão com raio de 30px */
    cursor: pointer; /* Muda o cursor para uma mão quando passa sobre o botão */
    margin-right: 25px; /* Adiciona uma margem de 25px à direita do botão para espaçamento */
}

.section00 button:hover {
    box-shadow: 0px 0px 25px rgb(185, 1, 1); /* Adiciona uma sombra ao redor do botão quando o mouse passa sobre ele */
}

.section01 {
    color: #ffffff; /* Define a cor do texto dentro da seção 01 como branco */
}

.section02 {
    color: #ffffff; /* Define a cor do texto dentro da seção 02 como branco */
    margin-left: 17px; /* Adiciona uma margem de 17px à esquerda da seção */
    font-size: 15px; /* Define o tamanho da fonte dentro da seção como 15px */
    align-items: center; /* Alinha os itens verticalmente ao centro (não se aplica aqui porque não está em um container flexível) */
    display: flex; /* Usa flex para layout dos itens dentro da seção */
    justify-content: center;
}

.section02 img {
    width: 350px; /* Define a largura da imagem dentro da seção como 200px */
    height: 400px; /* Define a altura da imagem dentro da seção como 200px */
    border-radius: 50%; /* Faz com que a imagem fique redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

.section03 {
    color: #ffffff; /* Define a cor do texto dentro da seção 03 como branco */
}

.section03 {
    background-image: url(imagem/Logo\ Ed\ Marllyn.png); /* Define uma imagem de fundo para a seção */
    padding: 50px; /* Adiciona um padding de 50px ao redor do conteúdo da seção */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: 100%; /* Faz com que a imagem de fundo cubra toda a área da seção */
    background-position: center; /* Centraliza a imagem de fundo na seção */
    background-attachment: fixed; /* Faz com que a imagem de fundo permaneça fixa em relação à viewport */
    width: 100%; /* Define a largura da seção como 100% do elemento pai */
    height: 130mm; /* Define a altura da seção como 99% da altura do elemento pai (ajustável conforme o conteúdo) */

}

.section03 img {
    width: 200px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
    border-radius: 50%; /* Faz com que a imagem fique redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

section h1, .section h2, .section h3, .section p {
    color: #333; /* Define a cor do texto para h1, h2, h3 e p dentro de qualquer seção como um cinza escuro */
}

section h1 {
    color: rgb(250, 0, 0); /* Define a cor do texto dos h1 dentro de qualquer seção como vermelho */
}

section h2 {
    color: rgb(111, 111, 219); /* Define a cor do texto dos h2 dentro de qualquer seção como um azul claro */
}

section h3 {
    color: yellow; /* Define a cor do texto dos h3 dentro de qualquer seção como amarelo */
}

/* aqui habilitamos o rodape para estilização*/
footer {
    background-color: black; /* cor de fundo do rodape*/
    padding: 15px; /* tamanho/preenchimento do rodape*/
    display: flex; /* tornando a sessao flex e deixando os itens lado a lado */
    justify-content: center; /* justificantiva do conteudo ao centro*/
    font-weight: bold; /* peso da letra */
    width: 100%; /* Define a largura da footer */
    height: 100px; /* Define a altura da footer */
}

footer div ul {
    display: flex; /* aqui tornamos nossa lista um elemento flex, com isso as letras ficaram lado a lado*/
}

footer div ul li a {
    text-decoration: none; /* decoração de texto (sublinhado) desabilitado (none) */
color: rgb(255, 0, 0); /*cor da letra*/
font-family: Verdana, Geneva, Tahoma, sans-serif; /* tipo de fonte */
font-weight: 300; /* peso da fonte*/
}

footer div  ul li {
    list-style: none; /* estilo de lista desabilitado */
    margin-right: 55px; /* espaçamento entre as (li) */
}