* {
    margin: 0; /* remove as margens de todos os elementos para garantir que não haja espaçamento indesejado */
    padding: 0; /* remove o padding de todos os elementos para evitar espaçamento interno indesejado */
    box-sizing: border-box; /* faz com que padding e bordas sejam incluídos na largura e altura total dos elementos */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a fonte padrão para o texto da página */

}

body {
    background-color: black; /* define a cor de fundo da página como preto */
    height: 100px; /* Define a altura do body como 100% da altura da viewport (tela) */
}

.interface {
    max-width: 1100px; /* define a largura máxima da interface para que não fique muito larga */
    margin: 0 auto; /* Centraliza a interface horizontalmente */
}

header {
    padding: 40px; /* Adiciona um padding de 40px ao redor do conteúdo do header */
}

header > .interface {
    display: flex; /* Usa flexbox para layout dos elementos filhos do header */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os itens com espaço igual entre eles */
}

header img {
    width: 150px; /* Define a largura da imagem do logo como 200px */
    height: auto; /* Ajusta a altura da imagem proporcionalmente à largura para manter a proporção */
    margin-top: -10px; /* Move a imagem para cima ajustando a margem superior */
}

header nav {
    flex: 15px; /* Faz com que o elemento nav ocupe todo o espaço disponível no header */
    display: flex; /* Usa flexbox para layout dentro do nav */
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do nav */
}

header nav ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    display: flex; /* Alinha os itens da lista horizontalmente */
    padding: 0; /* Remove o padding da lista */
}

header nav ul li a {
    text-decoration: none; /* Remove a sublinha dos links */
    color:  #ff1500; /* Define a cor do texto dos links como um cinza escuro */
    margin-right: 50px; /* Adiciona uma margem de 50px à direita dos links para espaçamento */
    list-style: none; /* Remove qualquer marcador da lista*/
    display: inline-block; /* Faz com que os links se comportem como blocos inline, permitindo padding e margens */
}

header nav ul li a:hover {
    color: rgb(255, 255, 255); /* Muda a cor dos links para branco quando o mouse passa sobre eles */
    transform: scale(1.10); /* Aumenta o tamanho dos links em 10% quando o mouse passa sobre eles */
    transition:  0.5s; /* tempo de transição ao colocar o mause sobre a Ancora */
}

#produtos {

}



.section00 {
    background-image: url(imagem/Logo\ Ed\ Marllyn.png); /* habilitamos uma imagem de fundo para a sessão*/
    padding: 250px;  /* tamanho/preenchimento da sessão*/
    background-repeat: no-repeat; /* repetição da imagem desabilitada*/
    background-size: cover; /* preenchimento toral da imagem será apresentada */
    background-position: center; /* posição em que a imagem será apresentada*/
    display: flex;  /* tornando a sessao flex e deixando os itens lado a lado */
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do nav */
    align-items: center; /* Alinha os itens verticalmente ao centro (não se aplica aqui porque não está em um container flexível) */
    }



.section00 button {
    padding: 10px 40px; /* Adiciona padding de 10px em cima e embaixo e 40px nas laterais do botão */
    color: white; /* Define a cor do texto do botão como branco */
    font-size: 20px; /* Define o tamanho da fonte do botão como 20px */
    font-weight: 500; /* Define o peso da fonte do botão para 500 (semi-negrito) */
    background-color:#ff1500; /* Define a cor de fundo do botão como vermelho */
    border: 0; /* Remove a borda do botão */
    border-radius: 30px; /* Adiciona bordas arredondadas ao botão com raio de 30px */
    cursor: pointer; /* Muda o cursor para uma mão quando passa sobre o botão */
    margin-right: 25px; /* Adiciona uma margem de 25px à direita do botão para espaçamento */
}

.section00 button:hover {
    background-color: rgb(255, 0, 0); /* Definir cor de fundo do botão ao passar o mause sobre o button */
    box-shadow: 0px 0px 25px  #ff1500; /* Adiciona uma sombra ao redor do botão quando o mouse passa sobre ele */
    transition: 0.3s; /* tempo de transição ao colocar o mause sobre o botão */
    color: rgb(202, 202, 202); /* Define a cor do texto dentro do button */

}



.section01 {
    color: #ffffff; /* Define a cor do texto dentro da sessão 01 como branco */
}

.section02 {
    color: #ffffff; /* Define a cor do texto dentro da sessão 02 como branco */
    margin-left: 17px; /* Adiciona uma margem de 17px à esquerda da sessão */
    font-size: 15px; /* Define o tamanho da fonte dentro da sessão como 15px */
    align-items: center; /* Alinha os itens verticalmente ao centro (não se aplica aqui porque não está em um container flexível) */
    display: flex; /* Usa flex para layout dos itens dentro da sessão */
    justify-content: center;  /* justificantiva do conteudo ao centro*/
}

.section02 img {
    width: 350px; /* Define a largura da imagem dentro da sessão como 200px */
    height: 400px; /* Define a altura da imagem dentro da sessão como 200px */
    border-radius: 50%; /* Faz com que a imagem fique redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}

/* hover permite que o elemento a qual esta trabalhando tenha alguma ação sobre o mause */
.section02 img:hover{
    width: 400px; /* largura da imagem */
    transition: 1s; /* tempo a o colocar o mause sobre a imagem */
    cursor: pointer; /* curso do mause  */
  }



.section03 {
    color: #ffffff; /* Define a cor do texto dentro da sesessãoção 03 como branco */
}

.section03 {
    background-image: url(imagem/ed.jpg); /* Define uma imagem de fundo para a sessão */
    padding: 50px; /* Adiciona um padding de 50px ao redor do conteúdo da sessão */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: 100%; /* Faz com que a imagem de fundo cubra toda a área da sessão */
    background-position: center; /* Centraliza a imagem de fundo na sessão */
    background-attachment: fixed; /* Faz com que a imagem de fundo permaneça fixa em relação à viewport */
    width: 100%; /* Define a largura da sessão como 100% do elemento pai */
    height: 130mm; /* Define a altura da sessão como 99% da altura do elemento pai (ajustável conforme o conteúdo) */

}


.section03 img {
    width: 200px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
    border-radius: 50%; /* Faz com que a imagem fique redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
}



section h1, .section h2, .section h3, .section p {
    color: #333; /* Define a cor do texto para h1, h2, h3 e p dentro de qualquer sessão como um cinza escuro */
}

section h1 {
    color: #ff1500; /* Define a cor do texto dos h1 dentro de qualquer sessão como vermelho */
}

section h2 {
    color: rgb(255, 255, 255); /* Define a cor do texto dos h2 dentro de qualquer sessão como um azul claro */
}

section h3 {
    color: yellow; /* Define a cor do texto dos h3 dentro de qualquer sessão como amarelo */
}

/* aqui habilitamos o rodape para estilização*/
footer {
    background-color: black; /* cor de fundo do rodape*/
    padding: 15px; /* tamanho/preenchimento do rodape*/
    display: flex; /* tornando a sessao flex e deixando os itens lado a lado */
    justify-content: center; /* justificantiva do conteudo ao centro*/
    font-weight: bold; /* peso da letra */
    width: 100%; /* Define a largura da footer */
    height: 100px; /* Define a altura da footer */
}
 
footer div ul {
    display: flex; /* aqui tornamos nossa lista um elemento flex, com isso as letras ficaram lado a lado*/
}

footer div ul li a {
    text-decoration: none; /* decoração de texto (sublinhado) desabilitado (none) */
color: #ff1500; /*cor da letra*/
font-weight: 300; /* peso da fonte*/
}

footer div  ul li {
    list-style: none; /* estilo de lista desabilitado */
    margin-right: 55px; /* espaçamento entre as (li) */
}

footer a:hover {
    color: white; /* Muda a cor dos links para branco quando o mouse passa sobre eles */
    transform: scale(1.10); /* Aumenta o tamanho dos links em 10% quando o mouse passa sobre eles */
}

footer nav ul li a:hover {
    color: white; /* Cor da Letra Da Ancora*/
    transition: 0.3s; /* tempo de transição ao colocar o mause sobre a Ancora */
    transform: scale(1.10); /* Aumenta o tamanho dos links em 10% quando o mouse passa sobre eles */
}
.rodape-img img{
    width: 120px; /* Define a largura da imagem do logo como 120px */
   }

.rodape-img .linha {
    width: 75px; /* Define a largura */
    height: 1.5px; /* Define a altura */
    background-color: white; /* Cor de fundo da Div-line */
    margin-right: 500px; /* Espaçamento entre as caixas (DIV) */

   }

   .redes-icon h2{ /* Estilizando o Título do rodapé */
    color:white ;  /* Cor da letra */
    font-size: 30px;  /* Tamanho da letra */
    margin-bottom: 20px; /* Margin inferior em relação o texto */
    
   }

   .redes-icon a {
    text-decoration: none; /* decoração de texto desabilitado (none) */
    color: white; /* Cor da letra da ancora */

   }

   .redes-icon a i { /* Acessando o Icone */
    color: white; /* Cor da letra do icone */
    font-size: 35px; /* Define o tamanho da fonte dentro da sessão */
    padding: 15px; /* preenchimento do icone do footer */
    background-color: rgb(0, 0, 0); /* Cor de fundo do icone */ 
    border-radius: 10px; /* arredondamento da borda da div */
}

 .redes-icon a i:hover {
    background-color: #ff1500; /* Cor de fundo do icone */
    transition: 0.5s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
    align-items: center;  /* Alinha os itens verticalmente ao centro */
 }






































/* tela de contato*/


.section-cotado01 {
    background-image: url(imagem/tela\ 2.jpg) ; /* imagem de fundo da sessão */
    padding: 250px; /* Adiciona um padding de 250px ao redor do conteúdo da sessão */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da sessão */
    background-position: bottom ; /* Centraliza a imagem de fundo na sessão */
}

.section-cotado01 p {
    font-size: 40px; /* Tamanho Da Fonte */
    color: white; /* Cor da letra da sessão */
    font-weight: 800; /* peso da letra */
    background-color: #6d6d6d8e; /* Cor de fundo do paragrafo */
    font-family: Georgia, 'Times New Roman', Times, serif;  /* fonte usada no texto do paragrafo */
}

.section-cotado01 span {
    color: rgb(255, 0, 0); /* Cor da letra do span */
    font-weight: bold; /* peso da letra */
    

}

.section-cotado02 {
    padding: 250px;  /* Adiciona um padding de 250px ao redor do conteúdo da sessão */
    margin-left: 17px; /* Adiciona uma margem de 17px à esquerda da seçsessãoão */
    font-size: 15px; /* Define o tamanho da fonte dentro da sessão como 15px */
    align-items: center; /* Alinha os itens verticalmente ao centro (não se aplica aqui porque não está em um container flexível) */
    padding:250px; /* preenchimento da sessão */
    background: linear-gradient( 80deg, #ff0015  10%, #e47f87 100%); /*cor de fundo da sessão */
}



/* Div pai - dentro dele existe 3 caixas */
.div-pai01 {
    display: flex; /* Tornando os itens flex, deixando as caixas lado a lado */
    justify-content: center; /* justificando os itens ao centro */
    margin-bottom: 20px; /* espaçamento das div */
}

/* Estilização das caixas (div filhos) */
.div-pai01 div {
    width: 200px; /* largura da caixa */
    height: 300px; /* Altura da caixa*/
    background-color: #ff000059; /* Cor de fundo da caixa */
    margin-right: 30px; /* Espaçamento entre as caixas (DIV)*/
    border-radius: 15px; /* arredondamento da borda da div */
}

.div-pai02 {
    display: flex; /* Tornando os itens flex, deixando as caixas lado a lado */
    justify-content: center; /* justificando os itens ao centro */
   margin-bottom: 20px; /* espaçamento das div */
}

.div-pai02 div {
    width: 200px; /* largura da caixa */
    height: 300px; /* Altura da caixa*/
    background-color: #000000; /* Cor de fundo da caixa */
    margin-right: 30px; /* Espaçamento entre as caixas (DIV)*/
    border-radius: 15px;  /* arredondamento da borda */
}




.div-pai01 .Div-filho01 {
    background-image: url(imagem/Tenis\ 1.jpg); /* Imagem de fundo da div */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo na div */
}
.div-pai01 .Div-filho01:hover {
    width: 215px; /* Define a largura da imagem dentro da sessão  */
    height: 315px; /* Define a altura da imagem dentro da sessão  */
    transition: 1.1s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
}


.div-pai01 .Div-filho02 {
    background-image: url(imagem/Tenis\ 2.jpg); /* Imagem de fundo da div */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo na div */
}

.div-pai01 .Div-filho02:hover {
    width: 215px; /* Define a largura da imagem dentro da sessão  */
    height: 315px; /* Define a altura da imagem dentro da sessão  */
    transition: 1.1s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
   }




.div-pai01 .Div-filho03 {
    background-image: url(imagem/Tenis\ 3.jpg); /* Imagem de fundo da div */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo na div */
}
.div-pai01 .Div-filho03:hover {
    width: 215px; /* Define a largura da imagem dentro da sessão  */
    height: 315px; /* Define a altura da imagem dentro da sessão  */
    transition: 1.1s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
   }




.div-pai02 .Div-filho04 {
    background-image: url(imagem/Tenis\ 4.jpg); /* Imagem de fundo da div */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo na div */
}
.div-pai02 .Div-filho04:hover {
    width: 215px; /* Define a largura da imagem dentro da sessão  */
    height: 315px; /* Define a altura da imagem dentro da sessão  */
    transition: 1.1s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
   }




.div-pai02 .Div-filho05 {
    background-image: url(imagem/Tenis\ 5.jpg); /* Imagem de fundo da div */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo na div */
}
.div-pai02 .Div-filho05:hover {
    width: 215px; /* Define a largura da imagem dentro da sessão  */
    height: 315px; /* Define a altura da imagem dentro da sessão  */
    transition: 1.1s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
   }




.div-pai02 .Div-filho06 {
    background-image: url(imagem/Tenis\ 6.jpg); /* Imagem de fundo da div */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo na div */
}
.div-pai02 .Div-filho06:hover {
    width: 215px; /* Define a largura da imagem dentro da sessão  */
    height: 315px; /* Define a altura da imagem dentro da sessão  */
    transition: 1.1s; /* tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* adicionando o cursor ao colocar sobre o icone */
   } 


   .section-cotado03{
    
    padding: 100px;  /* Adiciona um padding de 250px ao redor do conteúdo da sessão */
    background: linear-gradient( 80deg, #eff169  10%, #585858 80%); /*cor de fundo da sessão */
    font-size: 15px; /* Define o tamanho da fonte dentro da sessão como 15px */
    display: flex; /* Usa flex para layout dos itens dentro da sessão */
    justify-content: center; /* justificando os itens ao centro */
}

   .div-iframe {
    border-radius: 20px; /* arredondamento da borda da div */
   }

   .div-tema h2{
     color: rgb(0, 0, 0);  /* Cor da letra */
     margin: 30px;  /* Espaçamento entre o rodapé */
     font-size: 20px; /* Tamanho da letra */
     font-weight: 400; /* peso da letra */
   }
   
   .div-tema p{
     color: white;  /* Cor da letra */
     margin: 30px; /* Espaçamento entre o rodapé */
     font-size: 20px; /* Tamanho da letra */
     font-weight: 400; /* peso da letra */
   }

   .rodape{
    padding: 100px; /* tamanho/preenchimento do rodape*/
    background-color: black; /* cor de fundo do rodape*/
    display: flex; /* tornando a sessao flex e deixando os itens lado a lado */
    justify-content: center; /* justificantiva do conteudo ao centro*/
    font-weight: bold; /* peso da letra */
    width: 100%; /* Define a largura da footer */
    height: 100px; /* Define a altura da footer */
   }

   .div-line img{
    width: 120px; /* Define a largura da imagem do logo como 120px */
   }

   .div-line .line {
    width: 75px; /* Define a largura */
    height: 1.5px; /* Define a altura */
    background-color: white; /* Cor de fundo da Div-line */
    margin-right: 500px; /* Espaçamento entre as caixas (DIV) */

   }

   .div-icon h2{ /* Estilizando o Título do rodapé */
    color:white ;  /* Cor da letra */
    font-size: 30px;  /* Tamanho da letra */
    margin-bottom: 20px; /* Margin inferior em relação o texto */
    
   }

   .div-icon a {
    text-decoration: none; /* decoração de texto desabilitado (none) */
    color: white; /* Cor da letra da ancora */

   }

   .div-icon a i { /* Acessando o Icone */
    color: white; /* Cor da letra do icone */
    font-size: 35px; /* Define o tamanho da fonte dentro da sessão */
    padding: 15px; /* preenchimento do icone do footer */
    background-color: rgb(0, 0, 0); /* Cor de fundo do icone */ 
    border-radius: 10px; /* arredondamento da borda da div */
}

 .div-icon a i:hover {
    background-color: #ff1500; /* Cor de fundo do icone */
    transition: 0.5s; /* Tempo de transição ao colocar o mause sobre a Ancora */
    cursor: pointer; /* Adicionando o cursor ao colocar sobre o icone */
    align-items: center;  /* Alinha os itens verticalmente ao centro  */ 
}

html{
scroll-behavior: smooth;   /*  */
}